<!-- views/pages/games.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>                
        <div>	        
	        <h2>Games</h2>
	        <table class = "table">
	        	<tr>
	        		<th>Name</th>	        		
	        		<th>Category</th>
	        		<th>Players</th>
	        		<th>Age</th>
	        		<th>MSRP</th>
	        	</tr>			
			    <% games.forEach(function(game) { %>
			        <tr>
				        <td><a href="/game?GameID=<%= game.GameID %>"><%= game.Name %></a></td>				        
				        <td><%= game.Category %></td>
				        <td><%= game.MinimumPlayers %> - <%= game.MaximumPlayers %></td>
				        <td><%= game.Ages %>+</td>
				        <td>$<%= game.MSRP %></td>
			        </tr>
			    <% }); %>			
			</table>
        </div>
    </main>

    <footer>    	
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>