<!-- views/pages/games.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>        
        
        <div class="row">
            <div class="col-sm-8">            
                <div class="jumbotron">
                    <h2><%= game.Name %></h2>
                    <hr />
                    <h3>Category</h3>
                    <p><%= game.Category %></p>
                    <hr />
                    <h3>Description</h3>
                    <p><%= game.Description %></p>
                    <hr />
                    <h3>MSRP</h3>
                    <p><%= game.MSRP %></p>
                    <hr />
                    <h3>Minimum Players</h3>
                    <p><%= game.MinimumPlayers %></p>
                    <hr />
                    <h3>Maximum Players</h3>
                    <p><%= game.MaximumPlayers %></p>
                    <hr />
                    <h3>Recommended Age</h3>
                    <p><%= game.RecommendedAge %></p>
                    <hr />
                    <h3>Average Game Length Minutes</h3>
                    <p><%= game.AvgGameLengthMin %></p>
                    
                </div>                
            </div>
            <div class="col-sm-4">                
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>
            </div>
        </div>
    </main>

    <footer>    	
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>